.header {
    height: 10vh;
    width: 100%;
    background-color: #2984ff;
}

.main {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 15%;
    background-color: #1c1d21;
}

.router-outlet {
    width: 85%;
}