* {
    color: white
}

.header {
    height: 10vh;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    margin: 10%;
    cursor: pointer;
}

.navigation-item {
    margin: 10% 0;
    opacity: 0.7;
    transition: 250ms;
}

.navigation-item:hover,
.selected {
    transition: 250ms;
    opacity: 1;
}