<div class="header">
<div class="heading">Add Report</div>
<div class="btn" (click)='goBack()'>Go Back</div>
</div>
<div class="wrapper">
  <div class="row">
  <div class="input-block">
    <label>Title</label>
    <input type="text">
    </div>
    </div><div class="row">
  <div class="input-block">
  <label>Single Price</label>
  <input type="number">
  </div>
  <div class="input-block">
  <label>Multiple Price</label>
  <input type="number">
  </div>
  <div class="input-block">
  <label>Pages</label>
  <input type="number">
  </div>
</div>
<div class="row btn-container">
<button class="btn large-btn">Submit</button>
</div>
</div>
